*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Laravel cache (recommended)
 /bootstrap/cache/*
!/bootstrap/cache/.gitignore
!/bootstrap/cache/packages.php
!/bootstrap/cache/services.php

# Storage (recommended)
 /storage/app/*
!/storage/app/public
!/storage/app/public/.gitignore

/storage/framework/*
!/storage/framework/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

# Local DB (if used)
 /database/*.sqlite

# Optional composer cache folder (if exists in repo)
 /.composer/

# Optional mix file (if using Laravel Mix)
 /public/mix-manifest.json
